h1{
    color: black;
}
.Pobre{
    color: blue;
}
.Trabalho{
    color: blue;
}
.Jovens{
    color: blue;
    text-decoration: underline;
}
.velhos{
    color: red;
}
.Ancião{
    color: red;
}